.form-input-label,
.form-input,
.group textarea {
  width: 100%;
  display: block;
}

.form-input-label {
  margin-bottom: 0.5rem;
}

.form-input {
  margin-bottom: 1.5rem;
  border-radius: 2px;
  border: 2px solid #ddd;
  padding: 10px 5px;
  transition: all 0.3s;
}

.form-input:focus,
.form-input:active {
  outline: rgb(40, 107, 146);
  border: 2px solid rgb(40, 107, 146);
}
